datafactory/pipeline/raw_ga4_core.json
{
	"name": "raw_ga4_core",
	"properties": {
		"activities": [
			{
				"name": "Obtener Lista",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"dataset": {
						"referenceName": "DS_ADLS_CSV",
						"type": "DatasetReference",
						"parameters": {
							"zona": "raw",
							"directorio": "config",
							"archivo": "ondemand_load.txt"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ImportData",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Obtener Lista",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Obtener Lista').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Copiar Usuario",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"additionalColumns": [
										{
											"name": "location",
											"value": "$$FILEPATH"
										},
										{
											"name": "update",
											"value": {
												"value": "@utcNow()",
												"type": "Expression"
											}
										}
									],
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "ParquetSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings",
										"maxConcurrentConnections": 2,
										"copyBehavior": "PreserveHierarchy",
										"metadata": [
											{
												"name": "zona",
												"value": "master"
											}
										]
									},
									"formatSettings": {
										"type": "ParquetWriteSettings"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "DS_ADLS_CSV",
									"type": "DatasetReference",
									"parameters": {
										"zona": "raw",
										"directorio": {
											"value": "@concat('sharedknow/sharedknow/',item())",
											"type": "Expression"
										},
										"archivo": {
											"value": "@concat('sk_',item(),'.csv')",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "DS_ADLS_PARQUET",
									"type": "DatasetReference",
									"parameters": {
										"zona": "master",
										"directorio": "warehouse",
										"archivo": "usuario.parquet2"
									}
								}
							]
						},
						{
							"name": "Set variable1",
							"type": "SetVariable",
							"state": "Inactive",
							"onInactiveMarkAs": "Succeeded",
							"dependsOn": [],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "mensaje",
								"value": {
									"value": "@item().Lista_tabla",
									"type": "Expression"
								}
							}
						}
					]
				}
			}
		],
		"variables": {
			"mensaje": {
				"type": "String"
			}
		},
		"folder": {
			"name": "01_raw_source"
		},
		"annotations": [],
		"lastPublishTime": "2024-07-08T21:50:29Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}